<div>
    <h1>Hola, {{user.name}}</h1> 

    {{!-- si isAdmin = true -> entonces muestro los productos --}}
    {{#if isAdmin}}
        {{!-- Iteramos el array --}}
        {{#each food}}
            <div>
                <p>Nombre: {{this.name}}</p> 
                <p>Precio: {{this.price}}</p> 
            </div>
        {{/each}}
    {{!-- Si isAdmin = false -> entonces no tiene permisos --}}
    {{else}}
        <p>No tienes los permisos necesarios!!</p>
    {{/if}}
</div>
