<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{#if realTime}}
    <link rel="stylesheet" href="/css/realTimeProducts.css">
    {{/if}}
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">E-commerce</a>
            <div class="nav-links">
                <a href="/home" class="nav-link">Home</a>
                <a href="/realtimeproducts" class="nav-link">Real Time Products</a>
            </div>
        </div>
    </nav>

    <main class="main-content">
        {{{body}}}
    </main>

    <script src="/socket.io/socket.io.js"></script>
</body>
</html>